html {

}
body {
	background-color: #f1f2f7;
	font-size: 15px;
	overflow: hidden;
}

#login {
	width: 500px;
	height:500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
}

h1 {
	height: 60px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #505458;
}

#login-form label {
	color: black;
}

#login-form .input {
	width: 95%;
	padding: 9px;
	margin: 10px 0 2px 0;
}

.tipError {
	height:15px;
	margin-top:3px;
	color: #C00;
}

.submit {
	margin-top:30px;
}

input:focus{
	outline:none;
}

#login h1{
	text-align:center;
}

.btn {
	width: 100%;
	padding: 11px 23px;
	font-size: 19px;
	border-radius: 0px;
	border:0px;

	background: rgba(31, 181, 172, 1.0);
	color: #ffffff;
	cursor: pointer;
}

.form-group {
	height:80px;
	margin: 20px 0 5px 0;
}
